# Visual Studio
.vs/
*.user
*.suo

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# .NET
bin/
obj/

# Rider
.idea/

# Logs
*.log

# NuGet
packages/

# Test Results
TestResults/

# OS files
Thumbs.db
Desktop.ini